.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainPage {
  margin-top: 70px;
}

.prompt {
  border-radius: 500rem;
  padding: .67857143em 1em;
}

.grid {
  justify-content: center;
}

Form {
  margin: auto;
}

.frequency {
  display: inline-block !important;
  margin: .75em 0 !important;
}

input[name="frequency_num"]{
  margin: 0 1em !important;
  max-width: 15%;
}

input[name="frequency_period"]{
  margin-left: 1em !important;
  max-width: 45%;
}

.friendlist {
  text-align: left;
  color: #525155 !important;
}

.friendAction {
  position: absolute;
  right: 0;
}

.cardTitle {
  position: absolute;
  left: 5%;
  font-weight: bold;
}

.cardContent {
  margin-left: 20% !important;
}

.header, h3 {
  color: #525155 !important;
}

body {
  background-color: #B9D8C2 !important;
}

.ui.list>.item .header {
  margin: .5em !important;
  font-size: large;
}

.ui.list>.item>.content {
  font-size: large;
}

.addFriend {
  margin: -.5em !important;
  margin-left: 1em;
}

.ui.form .field>label {
  color: #525155 !important;
}

.noResults {
  font-size: large;
  color: #525155 !important;
}

.ui.menu .header.item {
  font-family: 'Kalam', cursive !important;
}

